@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import './variables.scss';
@import './mixins.scss';


#root {
  min: 100%;
  background-color: $background-color;
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}

.wrapper {
  flex: 1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 120px;

  @include for-phone {
    justify-content: start;
    margin-inline: 20px;
  }

  @include for-laptop {
    margin-inline: 60px;
  }

}

h1 {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 800;
  font-size: 120px;
  color: $color-primary;
  margin: 0;

  @include for-laptop {
    font-size: 60px;
  }

  @include for-phone {
    font-size: 60px;
  }
}

h2 {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: $color-white;
  margin: 0;

  @include for-laptop {
    font-size: 20px;
  }


  @include for-phone {
    font-size: 20px;
  }
}

h3 {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: $color-primary;
  margin: 0;

  @include for-laptop {
    font-size: 14px;
  }

  @include for-phone {
    font-size: 14px;
  }
}

ul {
  margin: 0;
}

li {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: $color-white;
  margin: 0;

  @include for-laptop {
    font-size: 12px;
  }


  @include for-phone {
    font-size: 12px;
  }
}

p {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: $color-white;
  margin: 0;

  @include for-laptop {
    font-size: 15px;
  }


  @include for-phone {
    font-size: 15px;
  }
}

body {
  margin: 0;
  background: $background-color;
  height: 100vh;
}

.no-scroll {
  overflow: hidden !important;
}

// helper
.hide {
  display: none;
}

//scrolbar
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}